// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

.special-slash-font {
    letter-spacing: 0.52em;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
 }

 .left-text {
  text-align: left;
 }

 #file {
  text-align: center;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

input[type=file] {
    margin: 0 auto;
}

.img_button_class {
    max-width:300px;
    max-height:300px;
}